<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="EmailNotifierGroup">
      <section name="MessageFields" type="EmailNotifyer.MessageFields, EmailNotifyer" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="MagistrateCourts.Properties.Settings.DBConnect" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB\LocalDatabase.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="CourtDBContext" connectionString="metadata=res://*/DBCourtModel.csdl|res://*/DBCourtModel.ssdl|res://*/DBCourtModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=NewBD;Integrated Security=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="best.email.notification@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="best.email.notification@gmail.com" password="qwerty`123" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <EmailNotifierGroup>
    <MessageFields Subject="Changes notification"
                   From="best.email.notification@gmail.com"
                   To="an.andrey.g@gmail.com"
                   IsBodyHtml="true"
                   BodyTemplate ="
                    &lt;html&gt;
                    &lt;head&gt;
                    &lt;style&gt;
                    table, th, td {{border: 1px solid black;border-collapse: collapse;}}
                    th, td {{padding: 5px;}}
                    &lt;/style&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                    &lt;p&gt;&lt;b&gt;Last activity on &apos;{0} UTC&apos;.&lt;/b&gt;&lt;/p&gt;
                    {1}
                    &lt;p&gt;*** This is an automatically generated email, please do not reply ***&lt;/p&gt;
                    &lt;/body&gt;
                    &lt;/html&gt;
                   ">
    </MessageFields>
  </EmailNotifierGroup>
</configuration>

